body {
  padding-left: 0 !important;
  .breadcrumb-head {
    padding: 20px 0 13px;
    background-color: white;

    .breadcrumb-list {
      font-family: "Poppins", sans-serif;
      font-size: 12px;
      color: #787878;

      li {
        list-style: none;
      }

      .breadcrumb-items {
        p {
          margin: 0 7px;
        }
        a {
          color: #787878;
          font-size: inherit;
          text-decoration: none;
          margin: 0 7px;
        }
        padding: 5px 0;
        line-height: 1;
        vertical-align: top;
        display: inline-block;
        text-transform: unset;
      }
    }
  }
  .zoom-product {
    display: inline;

    .card {
      margin-left: 30px;
    }

    .small-img {
      width: 130px;
      height: 110px;
      padding-left: 30px;
      margin-right: 30px;
      .firstSmall {
        margin-bottom: 16px;
      }
    }
    .bigImg-title {
      //  padding-left: 20px;
      width: 570px;
      margin-left: 55px;

      .custom-block {
        width: 525px;
        text-align: center !important;
        padding-top: 25px;
        .content {
          font-weight: 100%;
          font-family: "Poppins", sans-serif;
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          line-height: 27px;
          color: #787878;
          margin: 0 0 15px;
          font-size: 12px;
          text-align-last: center;
        }
        .title {
          margin: 0 0 15px 0;
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          line-height: 1.2;
          text-transform: capitalize;
          overflow-wrap: break-word;
          word-wrap: break-word;
          color: #1e1e1e;
          font-size: 16px;
          line-height: 32px;
          margin-bottom: 7px;
        }
      }
    }
  }

  .iconsSecondPage {
    display: flex;
    flex-grow: 1;
    padding: 50px 0 90px;
    justify-content: space-between;

    .quantityIcons {
      text-align: center;
      padding: 0 15px;

      .title {
        padding-top: 40px;
        font-family: "500" "Poppins", sans-serif;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .description {
        font-family: "300" "Poppins", sans-serif;
        color: #787878;

        font-size: 12px;
        a {
          font-family: "300" "Poppins", sans-serif;
          font-size: 12px;
          color: #17a8a3;
          border-bottom: 1px solid;
          text-decoration: none;
        }
      }
    }
  }
}

.add-to-cart {
  max-width: 70%;
  a {
    text-decoration: none;
    outline: none;
  }

  p {
    margin: 0;
  }

  .product-head {
    h3 {
      display: inline-block;
      width: 520px;
      margin-bottom: 10px;
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 24px;
      font-weight: 700px;
      line-height: 32px;
      word-wrap: break-word;
      i {
        margin-left: 25px;
        float: right;
      }
    }
  }

  .product-spec {
    margin-top: 20px;
    .spec-table {
      border: 0 none;
      width: 100%;

      tr td {
        color: #787878;
        font-size: 0.9rem;
      }

      tr td:first-child {
        width: 25%;
        color: rgb(54, 51, 51);
        font-weight: 500;
        padding-bottom: 5px;
      }
    }
  }

  .price {
    margin-top: 20px;
    p {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  .desc {
    margin-top: 20px;
    p {
      color: #787878;
      font-size: 0.9rem;
    }
  }

  .size {
    margin-top: 20px;
    font-size: 0.9rem;
    font-weight: 500;

    p {
      span {
        margin-left: 5px;
        color: #787878;
      }
    }

    .opt {
      margin-top: 20px;

      a {
        padding: 7px 13px;
        border: 1px solid #000;
        border-radius: 5px;
        color: #000;
        font-size: 0.9rem;
        font-weight: 500;
      }
    }
  }

  .qty {
    margin-top: 20px;

    label {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 10px;
    }

    .form-control {
      width: 120px;
    }

    p {
      margin-top: 10px;
      color: #a0a0a0;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  .btns {
    margin-top: 30px;

    .btn-pro {
      width: 100%;
      border-radius: 0;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.2rem;
      display: inline-block;
      height: 50px;
      margin-bottom: 20px;
    }

    .btn-cart {
      color: white;
      background-color: #17a8a3;
      border-color: #17a8a3;

      &:hover {
        color: white;
        border-color: #117b77;
        background-color: #117b77;
      }
    }

    .btn-wish {
      width: 100%;
      color: #1e1e1e;
      background-color: #fff;
      border-color: #1e1e1e;
      .bi-heart {
        font-size: 15px;
      }

      &:hover {
        color: white;
        border-color: #117b77;
        background-color: #117b77;
      }
    }
  }

  .buynow {
    color: #17a8a3;
    border: 1px solid #17a8a3;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: block;
    height: 50px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    background-color: #fff;
    &:hover {
      background-color: orange;
      border: 0;
      color: white;
    }

    &:disabled {
      opacity: 0.5;
      background-color: #fff;
      color: #17a8a3;

      border: 1px solid #17a8a3;
    }
  }

  .termcon {
    margin-top: 10px;
    a {
      color: #787878;
      font-size: 0.9rem;

      &:hover {
        color: #17a8a3;
      }

      span {
        text-decoration: underline;
      }
    }

    .customer-view {
      display: block;
      margin-bottom: 18px;
      white-space: nowrap;
      text-align: center;
      background-color: #f7f7f9;
      padding: 5px 0;
      line-height: 24px;
      margin-top: 10px;
    }
  }
}

.social-icons1 {
  padding: 20px 0;
  i {
    margin: 0 2px 5px;
    padding: 3px 4px;
    width: 20px;
    height: 20px;
  }
}

.rev a,
.rev p {
  display: inline-block;
  font-size: 0.9rem;
}

.rev p {
  margin-right: 30px;
}

.rev p a {
  margin-left: 10px;
  color: #787878;
}
.rev p i {
  cursor: pointer;
}
.rev p i.bi-star-fill {
  color: #ffcb23;
}

.rev p i.bi-star {
  color: #000;
}

.rev > a {
  color: #e95144;
}
.rev > a i {
  margin-right: 5px;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
  .small-img {
    display: none;
  }
  .bigImg-title {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center !important;
  }
}
