body {
  font-family: "Poppins", sans-serif;
}

body .container {
  margin-left: 10px !important;
  margin-bottom: 100px;
}

body .container .container-fluid {
  padding: 0 !important;
}

body .container .breadcrumbs {
  padding-top: 20px;
  background-color: white;
}

body .container .breadcrumbs .breadcrumb-list {
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #787878;
}

body .container .breadcrumbs .breadcrumb-list li {
  list-style: none;
}

body .container .breadcrumbs .breadcrumb-list .breadcrumb-items {
  padding: 5px 0;
  line-height: 1;
  vertical-align: top;
  display: inline;
  text-transform: unset;
}

body .container .breadcrumbs .breadcrumb-list .breadcrumb-items span {
  margin: 0 7px;
}

body .container .breadcrumbs .breadcrumb-list .breadcrumb-items a {
  color: #787878;
  font-size: inherit;
  text-decoration: none;
  margin: 0 7px;
}

body .container .blog-news {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  text-transform: unset;
  line-height: 1.3;
  padding: 0;
  font-size: 34px;
  margin-bottom: 40px;
}

body .container .sidebar-search {
  width: 252px;
  margin: 0 0 30px 0;
}

body .container .sidebar-search .search-heading {
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  margin-bottom: 27px;
}

body .container .sidebar-search .search-input {
  position: relative;
}

body .container .sidebar-search .search-input .form-control {
  border: 30px 10px;
}

body .container .sidebar-search .search-input input {
  color: #787878;
  border: 1px solid;
  padding-right: 30px;
  height: 45px;
}

body .container .sidebar-search .search-input .search-icon {
  height: 50px;
  position: absolute;
  right: 0px;
  padding: 10px 12px;
  cursor: pointer;
}

body .container .sidebar-blog {
  width: 252px;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}

body .container .sidebar-blog .sidebar-content .content-list {
  padding-left: 0 !important;
}

body .container .sidebar-blog .sidebar-content .content-list .content-items {
  margin-bottom: 8px;
  vertical-align: top;
}

body .container .sidebar-blog .sidebar-content .content-list .content-items a {
  cursor: pointer;
  text-transform: capitalize;
  color: #787878;
  font-weight: 500;
  text-decoration: none;
  font-size: 12px;
}

body .container .sidebar-blog .sidebar-content .content-list .content-items a:hover {
  color: #464242;
}

body .container .sidebar-blog .blog-heading {
  margin: 27px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

body .container .recentSection .recent-blog {
  width: 252px;
  margin: 20px 0 30px 0;
  border-bottom: 1px solid black;
}

body .container .recentSection .recent-blog .recentPosts-list .recent-items {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 252px;
}

body .container .recentSection .recent-blog .recentPosts-list .recent-items .recent-posts {
  padding-left: 20px;
}

body .container .recentSection .recent-blog .recentPosts-list .recent-items .recent-posts h5 a {
  color: #1e1e1e;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
}

body .container .recentSection .recent-blog .recentPosts-list .recent-items .recent-posts p {
  display: inline-block;
  line-height: 28px;
  font-style: italic;
  margin: 3px 0 0;
  color: #787878;
  font-size: 14px;
}

body .container .recentSection .recent-blog .recentPosts-list .recent-items a .recent-img {
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  display: inline-block;
  width: 85px;
  height: 85px;
  border-radius: 10%;
}

body .container .recentSection .recent-blog .recent-heading {
  margin: 27px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}

body .container .sellersSection .best-sellers {
  width: 252px;
  margin: 20px 0 30px 0;
  border-bottom: 1px solid black;
}

body .container .sellersSection .best-sellers .seller-list .seller-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 10px;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content {
  display: inline-block;
  display: block;
  padding-left: 20px;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-details a {
  text-decoration: none;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-details .productDetails {
  font-size: 13px;
  position: relative;
  font-weight: 500;
  line-height: 15px;
  color: #17a8a3;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-variant {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-variant .beige-variant,
body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-variant .beige-variant2 {
  display: block;
  background-color: beige;
  width: 19px;
  height: 19px;
  line-height: 15px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
  margin-right: 2px;
  margin-left: 5px;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-variant .grey-variant {
  display: block;
  background-color: grey;
  width: 19px;
  height: 19px;
  line-height: 15px;
  margin-bottom: 5px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
  margin-left: 5px;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-variant .white-variant {
  display: block;
  background-color: white;
  border: 1px solid #dadada;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 5px;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-variant .lightCoral-variant {
  display: block;
  background-color: lightcoral;
  width: 19px;
  height: 19px;
  line-height: 19px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  margin-bottom: 5px;
  -webkit-box-shadow: 0 0 0px 1px #e7e7e7;
          box-shadow: 0 0 0px 1px #e7e7e7;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale {
  display: block;
  color: #787878;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  text-decoration: none;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale .on-sale {
  display: inline-block;
  font-size: 14px;
  text-decoration: line-through;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale .actual-price {
  display: inline-block;
  font-family: "300" "Poppins", sans-serif;
  font-size: 14px;
  margin-left: 4px;
  color: #ff5656;
  display: inline-block;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-sale p {
  display: inline-block;
  padding-left: 4px;
}

body .container .sellersSection .best-sellers .seller-list .seller-items .product-content .product-title a {
  color: #1e1e1e;
  line-height: 24px;
  padding-top: 3px;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: capitalize;
  text-decoration: none;
}

body .container .sellersSection .best-sellers .sellersHeading {
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
  margin: 27px 0;
}

body .container .sellersSection .best-sellers .sellersHeading a {
  text-decoration: none;
  position: absolute;
  font-size: 12px;
  color: #17a8a3;
  right: 0;
  border-bottom: 1px solid;
  line-height: 1.4;
  font-weight: 400;
}

body .container .herbalSection .herbal-tea {
  width: 252px;
  margin: 20px 0 30px 0;
  border-bottom: 1px solid black;
}

body .container .herbalSection .herbal-tea img {
  width: 252px;
  margin-bottom: 40px;
}

body .container .customSection .custom-block {
  width: 252px;
  margin: 20px 0 30px 0;
}

body .container .customSection .custom-block .block-heading {
  margin: 27px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  position: relative;
}

body .container .customSection .custom-block .block-content p {
  line-height: 24px;
  color: #787878;
  margin: 0 0 15px;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 100;
}

body .container #right-side {
  margin: 0;
  padding: 0;
}

body .container #right-side .leftBorder {
  border-left: 1px solid #A0A0A0;
  display: inline;
  margin: 0 10px;
}

body .container #right-side .article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .container #right-side .article .single-team {
  position: relative;
}

body .container #right-side .article .single-team::before {
  content: "";
  position: absolute;
  width: 1015px;
  height: 740px;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), to(transparent));
  background: linear-gradient(to top, #000, transparent);
  z-index: 2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

body .container #right-side .article .single-team img {
  width: 1015px;
  height: 740px;
}

body .container #right-side .article .single-team:hover::before {
  opacity: 0.6;
  cursor: pointer;
}

body .container #right-side .article .text {
  margin: 30px 0;
  padding: 0;
  text-align: left;
}

body .container #right-side .article .text ul {
  padding: 0;
  margin: 0;
}

body .container #right-side .article .text ul li {
  font-size: 12px;
  font-weight: 350;
  color: #797676;
  line-height: 2;
}

body .container #right-side .article .text ul li h3 {
  margin: 20px 0;
}

body .container #right-side .article .text ul li h3 a {
  color: black;
  text-decoration: none;
}

body .container #right-side .article .text ul li h3 a:hover {
  color: #19bdd6;
}

body .container #right-side .article .text ul li p a {
  color: #19bdd6;
}

body .container #right-side .article .text ul li span {
  margin: 0 10px;
}

body .container #right-side .nextPrev {
  margin-top: 30px;
}

body .container #right-side .nextPrev ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  float: right;
}

body .container #right-side .nextPrev ul li {
  text-align: center;
  margin: 7px;
}

body .container #right-side .nextPrev ul li a {
  font-size: 13px;
  padding: 10px 17px;
  text-decoration: none;
  color: #8e8e8e;
}

body .container #right-side .nextPrev ul li .previous,
body .container #right-side .nextPrev ul li .next {
  border: 0.5px solid #d8d5d5;
  cursor: pointer;
}

body .container #right-side .nextPrev ul li .previous:hover,
body .container #right-side .nextPrev ul li .next:hover {
  background-color: #19bdd6;
}

body .container #right-side .nextPrev ul li .st {
  background-color: #f8f9fa;
  padding: 11px 20px;
}

body .container #right-side .nextPrev ul li .nd {
  cursor: pointer;
}

body .container #right-side .nextPrev ul li .nd:hover {
  color: #19bdd6;
}

@media only screen and (max-width: 1100px) {
  .hamburger {
    display: none;
  }
  #right-side {
    width: 100%;
    overflow: hidden;
  }
}
